/* 背景 */
.background {
  background-image: url(kazari.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.background2 {
  background-image: url(matsuri1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* //背景 */




/* 下部ボタン */
.register-blue-btn {
  margin: 30px 0;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #0cece4;
  color: #0cece4;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  transition: .2s cubic-bezier(0.37, 0, 0.63, 1);
}

.register-blue-btn:hover{
  color: #fff;
  background: #0cece4;
}
/* //下部ボタン */




/* プランの登録フォーム */
.content-text {
  white-space: pre-wrap;
  height: 500px;
}
/* //プランの登録フォーム */