/* ヘッダー */
* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 11vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  position: fixed;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 15vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 80%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  padding: 1vh 0;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-size: 2vh;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
  font-size: 2vh;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-size: 2vh;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-size: 2vh;
}

.user-img{
  border-radius: 50%;
  border: solid 1px #fff;
  height: 3.5vh;
  width: 3.5vh;
}

.user-img-header{
  border-radius: 50%;
  border: solid 1px #fff;
  height: 3.5vh;
  width: 3.5vh;
  margin-right: 20px;
}
/* //ヘッダー */



/* フッター */
.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.furima-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 30vh;
  vertical-align: bottom;
  margin-bottom: 30px;
}

.footer>p {
  font-size: 12px;
}
/* //フッター */