<div class='title-contents'>
  <h2 class='service-title'>
    あなたに合った旅が見つかる
  </h2>
  <p class='service-explain'>
    たびぺディアはだれでもかんたんに検索・投稿できる
  </p>
  <p class='service-explain'>
    旅行情報共有アプリです
  </p>
  <div class='store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
  <div class='scroll-btn'>
    <div class='scroll-text'>scroll</div>
    <%= image_tag "scroll.png", class:"scroll-icon" %>
  </div>
</div>