/* ユーザーページ */
.user_main{
  margin-top: 11vh;
  padding: 50px 100px 80px;
  border-top: 1px solid #efeded;
}

.user-contents-title {
  font-size: 5vh;
  line-height: 1.4;
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
}

.user-contents-subtitle {
  font-size: 2.5vh;
  margin-bottom: 5vh;       
  text-decoration: none;
  color: #a2a2a2;
  font-weight: bold;
}

.user-contents-username {
  text-align: center;
  font-size: 3.2vh;
  margin-bottom: 5vh;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.user_inner{
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}

.user_left{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.user_right{
  margin-left: 150px;
}

.user_profile_field{
  padding: 10px 0;
}

.icon{
  width: 18px;
  height: 18px;
  margin: 4px 10px 0 0;
  filter: opacity(50%);
}

.user_profile_title{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.under_line3{
  margin-top: 15px;
  border-bottom: solid 1px #cecece;
  width: 30vw;
}
.user_image{
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
}
.nav__btn{
  display: inline-block;
  padding: 0.3em 1.6em;
  font-size: 0.8em;
  color: #0cece4;
  text-decoration: none;
  user-select: none;
  border: 1px #0cece4 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  height: 30px;
  text-align: center;
}
.nav__btn:hover{
  color: #fff;
  background: #0cece4;
}
/*/ ユーザーページ /*/